@import "starter.css";

/* Form field text-scaling */
select,
input,
textarea{
  font: 99%/140% "lucida grande", "lucida sans unicode", "trebuchet ms", arial, verdana, sans-serif;
}

/* Fixing monospaced fonts */
pre,
code{
  font:125% monospace;
}

/* Neutralize vertical margins */
h1, h2, h3, h4, h5, h6,
p,
pre,
blockquote,
ul, ol, dl{
	margin: .7em 0;
	padding: 0;
}

/* Styles for headings */
h1, h2, h3, h4, h5, h6{
  text-align:left;
  font: 150%/110% "lucida grande", "lucida sans unicode", "trebuchet ms", arial, verdana, sans-serif;
  color:#93b5be;
  margin:.7em 0;
}

/* Apply left margin only to the few elements that need it */
li,
blockquote,
dd{
	margin-left: 1.7em; padding:0;
}
ol li{
  margin-left:2em;
}

/* Miscellaneous conveniences */
form label{
	cursor: default;
}
fieldset{
	border: none;
}
legend{
  font-weight:bold;
  color:#93b5be;
}

abbr,
acronym{
  border-bottom:1px dotted #ccc;
  font-variant:small-caps;
  cursor:help;
}

/* ####################################################### */

a:link{
  color:#EF1D2A;
}
a:visited{
  color:#999;
}
a:hover{
  text-decoration:none;
  color:#fff;
  background:#EF1D2A;
}
#footer a:hover{
  background: transparent;
}

body{
  background:#ECFAFE;
  padding-top:5px;
}
#content{
  width:530px;
  margin:0 auto 20px auto; padding:100px 10px 10px 10px;
  border:7px solid #e8f7fb; border-top:none;
  background:#fff;
  font-size:92%;
  position:relative;
}

h1{
  position:absolute; top:0; left:-7px;
  margin:0 auto; padding:0;
  height:76px;
  width:564px;
  font:bold 150%/100% verdana, sans-serif;
  background:#ECFAFE url(../images/layout/content-bg.png) 0 0 no-repeat;
  text-indent:-9999px;
}

#community{
  position:absolute; top:40px; right:-7px;
  margin:0;
  width:188px;
  height:64px;
}
  #community a:link,
  #community a:visited,
  #community a:hover{
    display:block;
    height:64px;
    background:#fff url(../images/layout/uni-form_community_logo.png) 0 0 no-repeat;
    text-indent:-9999px;
  }

.skyscraper{
  position:absolute; top:97px; left:102%;
}

.intro{
  position:absolute; top:97px; left:-204px;
  width:190px;
  background:#e8f7fb url(../images/layout/shadow_intro_righttoleft.png) 100% 0 repeat-y;
  padding:7px 0 7px 7px;
  font-size:100%;
  line-height:150%;
}
  .intro .content{
    background:#fff url(../images/layout/shadow_righttoleft.png) 100% 0 repeat-y;
    margin:0; padding:10px;
  }

  .intro dt{
    text-align:center;
    font: 150%/110% "lucida grande", "lucida sans unicode", "trebuchet ms", arial, verdana, sans-serif;
    color:#93b5be;
    margin:.7em 0;
    background:url(../images/layout/line.png) 0 50% repeat-x;
  }
    .intro dt strong{
      background:#fff;
      padding:0 3px;
    }
  .intro dd{
    margin:0;
  }

/*.intro p{
  padding:10px;
  background:#FFFFDF;
  border:1px solid #FFF8AF;
}*/

.styleForm{
  list-style:none;
  margin:1em 0;
}
  .styleForm li{
    margin:0;
  }
    .styleForm li a:link,
    .styleForm li a:visited,
    .styleForm li a:hover{
      padding:7px 3px;
      line-height:120%;
      border-bottom:1px dotted #ccc;
      display:block;
      background:transparent;
      text-decoration:none;
      color:#EF1D2A;
    }
    .styleForm li a:hover{
      background:#f5fbfd;
    }

#footer{
  margin:2em 0 0 0; padding:10px;
  border-top:1px dotted #ccc;
  font-size:80%;
  color:#999;
}